<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="app-content">
 <img src="../../assets/img/photo-1519003722824-194d4455a60c.jpg" class="background-img">
 <!-- <div class="logo">
  <ion-icon src="./assets/icon/svg/logo.svg"></ion-icon>
 </div> -->
 <div class="title">
  <ion-icon class="svg" src="./assets/icon/svg/logo.svg"></ion-icon>
  <p>GUINU</p>
  <ion-button expand="block" (click)="goToLogin()">Entrar</ion-button>
 </div>

  
</ion-content>